__pycache__/
3rdparty/
bin/
cpp/build/
.vscode
*.engine
*.engine.config
*.cache
*.nsys-rep
.VSCodeCounter
build*/
*.so
*.egg-info/
.coverage
*.csv
*.onnx
tmp/
venv/
.venv/
.local/
.hypothesis/
.idea/
cpp/cmake-build-*
cpp/.ccache/
cpp/tensorrt_llm/kernels/contextFusedMultiHeadAttention/
cpp/tensorrt_llm/kernels/decoderMaskedMultiheadAttention/
tensorrt_llm/libs
tensorrt_llm/bindings.pyi
tensorrt_llm/bindings/*.pyi

# Testing
.coverage.*
results_trt/
